.articleDescription-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: $margin_column;
}

.articleDescription-text {
  width: 100%;
  max-width: 635px;
}

.articleDescription-list {
  width: 100%;
  min-width: 327px;
  max-width: 350px;
  li {
    display: flex;
    align-items: center;
    width: 100%;
    p {
      margin: 0;
    }
    .item-quantity {
      color: $primary_color;
      font-weight: bold;
      margin-right: 20px;
    }
  }
}



@media screen and (max-width: 995px)  {
.articleDescription-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 95%;
  .articleDescription-text {
  max-width: 90%;
    
  }
}

}
