.cartItem-container {
  @include flex_separation;
  img {
    width: 64px;
    border-radius: 8px;
  }
  margin: $margin_column;
  .buttonQuantity-container {
    margin: 0;
  }
  .cartItem-text {
    width: 100%;
    margin: 0 10px;
    p {
      margin: 0;
    }
  }

}
