.cartItem-container {
  @include flex_separation;
  position: relative;
  img {
    width: 64px;
    border-radius: 8px;
  }
  margin: $margin_column;
  .buttonQuantity-container {
    margin: 0;
  }
  .cartItem-text {
    width: 100%;
    margin: 0 10px;
    p {
      margin: 0;
    }
  }
  .cartItem-remove-button {
    position: absolute;
    left: -15px;
    top: -32px;
    color: white;
    font-weight: bold;
    background-color: $primary_color;
    border: none;
    border-radius: 100%;
    height: 30px;
    width: 30px;
  }
}
