.categoryArticle-container {
  @include flex_separation;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 0px;


  img {
    object-fit: cover;
    max-width: 540px;
    min-width: 181px;
    width: 100%;

  }
}

@media screen and (max-width: 550px) {
  .categoryArticle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    text-align: center;

    .productPresentation-container {
    @include flex_column
  }
  }
  
}