header {
  background-color: #101010;
  width: 100%;
  position: fixed;
  z-index: 3;

  @include flex_midle;

  button {
    background-color: transparent;
    border: none;
  }
}

.header-container {
  @include max_width;
  @include flex_separation;
  height: 97px;
  border-bottom: solid 1px #9797978e;
  margin: 0px 25px;
}

.cart-button {
  position: relative;
  .cart-quantity-label {
    position: absolute;
    width: 18px;
    height: 18px;
    color: white;
    border-radius: 100%;
    background-color: $primary_color;
    top: -12px;
    right: -6px;
    @include flex_midle;
  }
}

.nav-button-container {
  display: none;
  button {
    color:  white;
    font-weight: bold;
    font-size: 20px;
  }
}

@media screen and (max-width: 550px) {
  .nav-button-container {
    display: block;
    z-index: 3;
  }

}
