header {
  background-color: #101010c2;
  width: 100%;
  position: fixed;
    z-index: 3;
  @include flex_midle;

  button {
    background-color: transparent;
    border: none;
  }
}

.header-container {
  @include max_width;
  @include flex_separation;
  height: 97px;
  border-bottom: solid 1px #979797;
  margin: 0px 25px;
}

.cart-button {
  display: none;
}

