.homeCategoryCard-container {
  @include flex_midle;
  flex-direction: column;
  margin-top: 60px;

  height: 204px;

  position: relative;
  max-width: 350px;
  width: 100%;
  background-color: $light-grey;
  border-radius: 8px;
  img {
    position: absolute;
    top: -35%;
    filter: drop-shadow(5px 30px 12px rgba(0, 0, 0, 0.27));
  }
}

.homeCategoryCard-content {
  position: absolute;
  bottom: 10%;
  @include flex_column
}