.suggestionList-container {
  width: 100%;

  ul {
    width: 100%;
    flex-wrap: wrap;
    @include flex_separation;
  }
}

@media screen and (max-width: 550px) {
  .suggestionList-container {
    text-align: center;
    ul {
      align-items: center;
      justify-content: center;
    }
  }
}
