/// @type Color
$primary-color: #D87D4A;
/// @type Color
$secondary-color: #FBAF85;
/// @type Color
$light-grey: #F1F1F1;
/// @type Color
$background-white: #FAFAFA;
/// @type Color
$background-black: #101010;
/// @type Color
$white: #FFF;
/// @type Color
$black: #000






